a {
    text-decoration: none;
    color: #2c5b8c;
}
h2 {
    position: relative;
}
.underlined {
    margin-bottom: 50px !important;
}
.underlined:before {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #0075ff;
    position: absolute;
    left: 50%;
    bottom: -24px;
    margin-left: -50px;
}
.bg-danger-light {
    background-color: #ff7683;
}
.bg-red {
    background-color: red !important;
    color: white;
}
.table tbody tr td:nth-child(4) {
    background-color: orange !important;
    color: white;
}
.table tbody tr td:nth-child(6) {
    background-color: red !important;
    color: white;
}
.text-justify {
    text-align: justify;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #a5cc6c;
}
.navbar-toggler-icon {
    background: #666;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

/* banner section */
#banner-section {
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #2b5980;
    z-index: 1;
}
.banner-content {
    position: relative;
    z-index: 2;
}
.dataTables_length, .dataTables_filter {
    padding-top: 5px;
}
/* stats counter */
#stats-section .box {
    border: 1px solid;
    border-radius: 8px;
    height: 100%;
    word-break: break-word;
    padding: 20px;
}
#stats-section .count {
    font-size: 2.5em;
    font-weight: 700;
}
.card {
    height: 100%;
}
#reported-cases-bycountry, #archived, #moreinfos, #comparisons {
    background-color: #d6dfe8;
}
table th, table tr td {
    border: 1px solid #e2e2e2 !important;
}
.age-conditions .item {
    border-radius: 10px;
}
.counter-box {
    display: block;
    background: #ffffff;
    padding: 40px 20px 37px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 6px;
}
.source-btn {
    text-decoration: none;
    background: #1d77e6;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
}
.dataTables_length, .dataTables_filter, .dataTables_info {
    margin-bottom: 15px;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline p {
    text-align: justify;
}
#worldometers-sections .item {
    height: 100%;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    padding: 16px;
}
#worldometers-sections .item:hover {
    box-shadow: 0px 0px 2px 2px #a1da32;
}
#moreinfos .item {
    margin-bottom: 20px;
    border: 1px solid #c7c7c7;
    padding: 9px;
    background: white;
    border-left: 3px solid #6f9416;
}
#webographie ul li:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
}
#webographie ul li {
    padding: 10px;
}
#webographie ul li:before {
    font-family: "FontAwesome";
    content: "\f08e";
    margin-right: 7px;
}
#webographie a:hover {
    text-decoration: underline;
}
footer {
    background: #fbfbfb;
    border-top: 2px solid #acce26c7;
}
footer .widget-header h4 {
    border-bottom: 1px dotted green;
    padding-bottom: 10px;
    color: black;
}
footer .widget-links i {
    font-size: 11px;
}
footer .widget-links ul li a {
    color: black
}
footer .widget-links ul li a:hover {
    color: blue;
    text-decoration: underline;
}
footer .widget-social .social-network-item {
    background-color: white;
    border: 1px solid #d0d0d0;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
footer .widget-social .social-network-item.newsletter:hover {
    background-color: orange;
    color: white;
}
footer .widget-social .social-network-item.twitter:hover {
    background-color: #1DA1F2;
    color: white;
}
footer .widget-social .social-network-item.facebook:hover {
    background-color: #3b5998;
    color: white;
}